body {
  border-spacing: 0;
  background-color: #fafafa;
  box-shadow: none !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.width-100 {
  width: 100%;
}

.card {
  background-color: #fafafa;
  margin: 0px;
  padding: 0px;

}

.card .card-content {
  padding: 15px 25px 25px 25px;
  color: black;
  border: 0 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #006054;
  margin: 10px;
  padding: 0;
}

.btn-small {
  background-color: transparent;
  color: #006054;
  margin: 10px;
}

.btn-small:hover {
  color: #006054;
  background-color: transparent;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: none;
  border: 0 !important;
}

.rtl {
  direction: rtl;
}

.rtl .float {
  float: left;
}

.ltr {
  direction: ltr;
}

.ltr .float {
  float: right;
}

th {
  padding: 7.5px;
}

tr {
  padding: 0;
}

td {
  padding: 2.5px 5px;
}
